body{
    background-color: #2f4f4f;
    color: white;
    font-family: "Kanit", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button{
    background-color:rgb(82, 167, 179);
    color: white;
    font-family: "Kanit", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo{
    display: block;
}

main {
    max-width: 90%;
    text-align: center;
}

img {
    max-width: 90%;
}